DATABASE_URL=sqlite:///./agenticfi.db
SECRET_KEY= "Place your secret key here"
OPENAI_API_KEY= "Place your Key"
PORT=8000
HOST=0.0.0.0

# Alpaca API Credentials
ALPACA_CLIENT_ID= your ID
ALPACA_CLIENT_SECRET= "your key"
